* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carList__container {
  background-color: #dddddd;
  padding-left: 240px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.car__container {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.car-layout {
  margin-right: 20px;
  margin-left: 20px;
}
.list1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.list2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

button {
  color: red;
  background-color: transparent;
  border: none;
}

.images {
  width: 250px;
  height: 200px;
  border-radius: 5%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s;
}

a.button:hover {
  color: red;
}
